				body {
				font-family: helvetica;
				font-size: 14px;
			}

			#cy {
				width: 75%;
				height: 75%;
				margin-top:6%;


				border-style: double;
    			border-color: #000000;


				position: absolute;
				left: 0;
				top: 0;
				z-index: 999;
			}


		#textArea1  {
			  position:absolute;
  			  right:  1%;
  			  top:    13%;
			}


			h1 {
				opacity: 0.5;
				font-size: 1em;